extends template

prepend page
  - var layout = 'about';
  - var currentPage = 'about';
  - var hasFooter = true;
  - var pageTitle = false;
  - var pageDesc = false;
  - var pageImg = false;

block content
  .page(class="page--" + currentPage)
    .about
      .section.about__story
        .section__imgs
          .l-flex-noGutter
            .l-col-6
              .section__img: img(src="build/img/about/1.jpg", alt="")
            .l-col-6
              .section__img: img(src="build/img/about/2.jpg", alt="")
        .section__info.accordion
          .l-container
            .l-flex
              .l-col-6
                .section__heading
                  .section__title Our story
              .l-col-6
                .section__content
                  .section__desc !{about.story.primary}
                .section__more
                  button.btn.btn--plain.btn-accordion
                    +icon('arrow-down')
              .l-col-6(data-push-left="off-6")
                .section__content
                  .section__desc !{about.story.secondary}
      .section.about__team
        .section__img: img(src="build/img/about/3.jpg", alt="")
        .section__info.accordion
          .l-container
            .l-flex
              .l-col-6
                .section__heading
                  .section__title Our team
              .l-col-6
                .section__content
                  .section__desc !{about.team.primary}
                .section__more
                  button.btn.btn--plain.btn-accordion
                    +icon('arrow-down')
              .l-col-6(data-push-left="off-6")
                .section__content
                  .section__desc !{about.team.secondary}
      .section.about__press
        .section__info
          .l-container
            .section__title Press
            .press
              for item in about.press
                .press__item= item
      .section.about__map
        #map.map
        .section__info.accordion
          .l-container
            .l-flex
              .l-col-6
                .section__heading
                  .section__title Where we work
              .l-col-6
                .section__content
                  .section__desc !{about.where.primary}
                .section__more
                  button.btn.btn--plain.btn-accordion
                    +icon('arrow-down')
              .l-col-6(data-push-left="off-6")
                .section__content
                  .section__desc !{about.where.secondary}

