include ./mixins
doctype html
block page
  html
    head
      block head
        title= pageTitle ? pageTitle : settings.ogDefaults.title
        meta(property="og:title", content=pageTitle ? pageTitle : settings.ogDefaults.title)
        meta(property="og:description", content=pageDesc ? pageDesc : settings.ogDefaults.description)
        meta(property="og:image", content=pageImg ? pageImg : settings.ogDefaults.image)
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- include parts/favicon
        //- link(rel="shortcut icon" href="favicon.ico", type="image/x-icon")
        link(href="build/css/main.css", rel="stylesheet")
        each item in settings.scripts.head
          script(src=item)
    body
      .svg-sprite
      script
        | $('.svg-sprite').html(SVG_SPRITE);
      script var markers = $.getJSON( "build/data/markers.json", function(data) {console.dir(data);})
      .layout(class="layout--" + layout)
        include parts/header
        include parts/sidebar
        block content
        include parts/animate
        if hasFooter
          include parts/footer
        include parts/aside
      //- include counters.html
      
      each item in settings.scripts.foot
        script(src=item)
      script(src="build/js/main.js")