include ./mixins
doctype html
block page
  html
    head
      block head
        title= pageTitle ? pageTitle : settings.ogDefaults.title
        meta(property="og:title", content=pageTitle ? pageTitle : settings.ogDefaults.title)
        meta(property="og:description", content=pageDesc ? pageDesc : settings.ogDefaults.description)
        meta(property="og:image", content=pageImg ? pageImg : settings.ogDefaults.image)
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- include parts/favicon
        //- link(rel="shortcut icon" href="favicon.ico", type="image/x-icon")
        link(href="build/css/main.css", rel="stylesheet")
        script(src="build/js/vendor/jquery-3.2.1.min.js")
        script(src="build/js/vendor/jquery.ba-throttle-debounce.js")
        script(src="https://cdn.rawgit.com/iserdmi/afterlag-js/2.0.2/dist/jquery.afterlag.min.js")
        script(src="build/img/svg/sprite.js")
        script(src="https://yastatic.net/share2/share.js")
    body
      .svg-sprite
      script
        | $('.svg-sprite').html(SVG_SPRITE);
      .layout(class="layout--" + layout)
        include parts/header
        include parts/sidebar
        block content
        include parts/animate
        if hasFooter
          include parts/footer
        include parts/aside
      //- include counters.html
      
      each item in settings.scripts
        script(src=item)
      script(src="build/js/main.js")