include ../mixins
.aside
  .aside__close
    button.btn.btn--plain.btn-close-aside
      +icon('x')
  .aside__content
    +asideMenu(navs.projects).aside__nav.l-hidden-sm-down
    +asideMenuFull(navs.main, navs.projects).aside__nav.l-hidden-md-up
    .aside__contacts.l-hidden-sm-down
      .contacts
        .contacts__title Address
        .contacts__info
          .contacts__item= about.contacts.zip + ', ' + about.contacts.city
          .contacts__item= about.contacts.address1
          .contacts__item= about.contacts.building
          .contacts__item= about.contacts.address2
          .contacts__item= about.company
      .contacts
        .contacts__title Contact
        .contacts__info
          .contacts__item
            | T_ 
            a(href=`telto:${about.contacts.tel}`)= about.contacts.tel
          .contacts__item
            | W_ 
            a(href=`https://${about.contacts.web}`)= about.contacts.web
          .contacts__item
            | E_ 
            a(href=`mailto:${about.contacts.email}`)= about.contacts.email
    .aside__search.l-hidden-md-up
      button.btn.btn--plain.btn-search
        +icon('loupe')
      +fieldInput('mobile-search')(type="search")